%h1 SHOWING PATH BETWEEN USERS

= link_to "All Users", oqgraph_users_url

%h2 
  ="From: #{@user.first_name} #{@user.last_name}"

%h2
  ="To: #{@other.first_name} #{@other.last_name}" 
  
%ul
  - @users.each do |user|
    %li
      = "#{user.first_name} #{user.last_name}"
      = link_to "Show", user
  